 <app-header></app-header>
 <app-sidebar></app-sidebar>
 <div class="dashboard-header">
  <h2 class="dashboard-title">Employee Skills</h2>
  <nav class="breadcrumb">
    <a href="#"> Home</a> &gt; 
     <a href="#"> Employee Profile</a> &gt; 
    <span>Employee Skills</span>
  </nav>
</div>
 <div class="tab-container">

    <!-- Radios -->
    <input type="radio" id="tab1" name="tab" checked>
    <input type="radio" id="tab2" name="tab">
    <input type="radio" id="tab3" name="tab">
  
    <!-- Tab Header -->
    <div class="tab-header">
      <label class="tab-label" for="tab1">Job History</label>
      <label class="tab-label" for="tab2">Education</label>
      <label class="tab-label" for="tab3">Certification</label>  
    </div>
<!-- Job History Tab -->
<div id="content1" class="tab-content">
  <app-employee-jobhistory></app-employee-jobhistory>
</div>

<!-- Education Tab -->
<div id="content2" class="tab-content">
  <app-employee-education></app-employee-education>
</div>


<!-- Certification Tab -->
<div id="content3" class="tab-content">
<app-employee-certifications></app-employee-certifications>

</div>

<app-footer></app-footer>