.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}


app-sidebar {
  
  background-color: #b02828;
  color: #fff;
}

.content-body {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

app-topbar {
  height: 77px;
  background-color: #fff;
  /* color: white; */
  /* display: flex; */
  align-items: center;
  /* padding: 0 20px; */
}

app-footer {
  height: 100px;
  
  /* color: white;
  display: flex; */
  align-items: center;
  justify-content: center;
}

