.dashboard {
  width: 100%;
}

.stats-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.stat-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.graph-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.graph {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 250px;
  margin-top: 20px;
}

.bar {
  width: 30px;
  background: linear-gradient(to top, #1976d2, #64b5f6);
  border-radius: 6px 6px 0 0;
}
.clickable {
  cursor: pointer;
  transition: 0.3s;
}

.clickable:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
