<div class="dashboard">

  <!-- STAT CARDS -->
  <div class="stats-row">
    <div class="stat-card" *ngFor="let stat of stats">
      <h4>{{ stat.title }}</h4>
      <h2>{{ stat.value }}</h2>
    </div>
  </div>

  <div class="stat-card clickable"
     routerLink="/controlpanel/users">
  <h4>Total Users</h4>
  <h2>45</h2>
</div>

  <!-- GRAPH -->
  <div class="graph-card">
    <h3>Overall Activities</h3>

    <div class="graph">
      <div
        *ngFor="let item of activities"
        class="bar"
        [style.height.px]="item.value">
      </div>
    </div>
  </div>
  

</div>
