<div class="sidebar">

    <div class="logo">
        <span class="logo-icon">⚡</span>
        <span class="logo-text">Admin Panel</span>
    </div>

    <ul class="menu">
        <li routerLink="/controlpanel/dashboard" routerLinkActive="active">
            <span>📊</span> Dashboard
        </li>

        <li routerLink="/controlpanel/users" routerLinkActive="active">
            <span>👥</span> Users
        </li>


        <li>
            <span>📁</span> Projects
        </li>

        <li>
            <span>📈</span> Reports
        </li>

        <li>
            <span>⚙️</span> Settings
        </li>
    </ul>

</div>