<div class="navbar">
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/profile">Employee Profile</a>

  <div class="dropdown">
    <a href="#">Attendance ▾</a>
    <div class="dropdown-content">
      <a routerLink="/attendance/team">Team Attendance</a>
      <a routerLink="/attendance/approve">Approve Attendance</a>
    </div>
  </div>

  <div class="dropdown">
    <a href="#">Leaves ▾</a>
    <div class="dropdown-content">
      <a routerLink="/leaves/apply">View/Apply</a>
      <a routerLink="/leaves/approve">Approve</a>
      <a routerLink="/leaves/calendar">Calendar</a>
    </div>
  </div>

  <a routerLink="/expenses">Expenses</a>
  <a routerLink="/timesheet">Timesheet</a>
  <a routerLink="/performance">Performance</a>
  <a routerLink="/myteam">My Team</a>
</div>
