<nav class="submenu-nav" aria-label="submenu">
  <div #container class="submenu-container">

    <!-- Visible Submenus -->
    <ng-container *ngFor="let sub of visibleSubmenus">
      <div
        class="submenu-item"
        [class.active]="isActive(sub.route)"
        (click)="selectSubmenu(sub.route)">
        <i *ngIf="sub.icon" [class]="sub.icon + ' me-1'"></i>
        <span class="submenu-title">{{ sub.title }}</span>
      </div>
    </ng-container>

    <!-- More Dropdown -->
    <div *ngIf="hiddenSubmenus.length" class="more-dropdown">
      <button
        class="more-btn"
        (click)="toggleDropdown($event)"
        aria-haspopup="true"
        [attr.aria-expanded]="isDropdownOpen">
        More ▾
      </button>

      <div class="dropdown-content"
           [class.show]="isDropdownOpen"
           (click)="stopProp($event)">

        <div class="dropdown-item"
             *ngFor="let sub of hiddenSubmenus"
             (click)="selectSubmenu(sub.route)">
          <i *ngIf="sub.icon" [class]="sub.icon + ' me-1'"></i>
          {{ sub.title }}
        </div>

      </div>
    </div>

  </div>
</nav>
