<div class="container">
  <!-- LEFT PANEL -->
  <div class="left-panel">
    <h1>WELCOME TO CORTRACKER HRMS</h1>

    <!-- Key Features Section -->
    <div class="hrms-features">
      <div class="feature">
        <i class="fa fa-users"></i>
        <div class="feature-text">
          <strong>Employee Management</strong>
          <p>Track attendance, leaves, and performance efficiently.</p>
        </div>
      </div>

      <div class="feature">
        <i class="fa fa-briefcase"></i>
        <div class="feature-text">
          <strong>Project Overview</strong>
          <p>View project assignments, deadlines, and progress at a glance.</p>
        </div>
      </div>

      <div class="feature">
        <i class="fa fa-chart-line"></i>
        <div class="feature-text">
          <strong>Reports & Analytics</strong>
          <p>Generate detailed HR reports and visual analytics easily.</p>
        </div>
      </div>

      <div class="feature">
        <i class="fa fa-cogs"></i>
        <div class="feature-text">
          <strong>Automation & Workflow</strong>
          <p>Automate repetitive HR tasks and approvals seamlessly.</p>
        </div>
      </div>
    </div>

    <!-- Decorative Circles -->
    <div class="circle one"></div>
    <div class="circle two"></div>
    <div class="circle three"></div>
    <div class="circle four"></div>
  </div>

  <!-- RIGHT PANEL -->
  <div class="right-panel">
    <div class="logo">
      <img src="/assets/images/cor-logo.png" alt="HRMS Logo">
    </div>
    <h2>Change Password</h2>

    <form (ngSubmit)="changePassword()" novalidate  #f="ngForm">
      <div class="input-group">
        <i class="fa fa-lock input-icon"></i>
        <input
          type="password"
          id="oldPassword"
          [(ngModel)]="oldPassword"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter old password"
          required
        />
      </div>

     <div class="input-group">
  <i class="fa fa-lock input-icon"></i>
  <input
    type="password"
    id="newPassword"
    [(ngModel)]="newPassword"
    [ngModelOptions]="{ standalone: true }"
    placeholder="Enter New Password"
    strongPassword
    required
  />
</div>
<div class="input-group">
        <i class="fa fa-lock input-icon"></i>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Enter Confirm Password"
          required
        />
      </div>
     

      <button type="submit"  [disabled]="loading">
        {{ loading ? 'Changing password...' : 'Change Password' }}
      </button>

      <p style="color:red">{{ errorMessage }}</p>
    </form>
  </div>
</div>
