.timesheet-config .form-check-input {
  cursor: pointer;
  width: 48px;
  height: 24px;
}

.timesheet-config .form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.timesheet-config .form-label {
  font-weight: 500;
}

.timesheet-config .card {
  border-radius: 10px;
}

.timesheet-config .btn {
  min-width: 100px;
}

.table th, .table td {
  vertical-align: middle !important;
}
