<div class="navbar">
  <a routerLink="/dashboard">Dashboard</a>

  <div class="dropdown">
    <a href="#">Finance ▾</a>
    <div class="dropdown-content">
      <a routerLink="/finance/bankdetails">Bank Details</a>
      <a routerLink="/finance/dd">DD</a>
      <a routerLink="/finance/w4">W4</a>
      <a routerLink="/finance/payroll">Payroll</a>
    </div>
  </div>

  <a routerLink="/expenses">Expenses</a>
  <a routerLink="/compensation">Compensation</a>
  <a routerLink="/assets">Assets</a>
  <a routerLink="/helpdesk">Help Desk</a>
</div>
